
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pinpoint | Friends</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">
    
        <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- FFED CSS -->
    <link href="css/feed.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.0.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.0.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="sign_up.js"> </script>

</head>

<body class="body-style">


        <!-- Navigation -->
       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->

             <a class="navbar-brand" href="index.html"><img src="img/pinpoint-gray.png" class="logo"></a>
            
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav navright">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-navicon"></i></a>
                    <ul class="pull-right dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-map-pin"></i> &nbsp;My Pins</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-users"></i> &nbsp;Friends</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-map"></i> &nbsp;Locations</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> &nbsp;Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> &nbsp;Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <!-- /.navbar-collapse -->
        </nav>
        <br>

<div class="container">
    <div class="col-md-4 col-sm-6">        
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Look for friends...">
      <span class="input-group-btn">
        <button class="btn btn-default button-search" type="button">Search!</button>
    </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div>
<p><br></p>
<div class="container container-rel" style="align:center">
            <div class="row">
                 <div class="col-md-4">
                    <ul class="list-inline center-buttons">
                        <li><p><a href="#"><br><i class="fa fa-users fa-2x"></i><br>Friends</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<p><br></p>
        <!--Repeat this div container for all the other status updates except the  first-->
<div class="container">
    <div class="col-md-4 col-sm-6">
        <div class="well"> 
            <form role="form" class="form-horizontal"> 
                <p class="horizontal" id="name"><i class="fa fa-user"></i> Phil Espinoza<br></p>
                <p class="horizontal" id="location">Hackerman Hall, </p>
                <p class="horizontal" id="date">9/13/2015, </p>
                <p class="horizontal" id="time">8:37am</p>
        </form>
        </div>
		<div class="well"> 
            <form role="form" class="form-horizontal"> 
                <p class="horizontal" id="name"><i class="fa fa-user"></i> Sarah Watanabe<br></p>
                <p class="horizontal" id="location">Malone Hall, </p>
                <p class="horizontal" id="date">9/13/2015, </p>
                <p class="horizontal" id="time">8:14am</p>
        </form>
        </div>
		<div class="well"> 
            <form role="form" class="form-horizontal"> 
                <p class="horizontal" id="name"><i class="fa fa-user"></i> Inez Lam<br></p>
                <p class="horizontal" id="location">Hackerman Hall, </p>
                <p class="horizontal" id="date">9/13/2015, </p>
                <p class="horizontal" id="time">7:52am</p>
        </form>
        </div>
    </div>
</div>


       <footer>
        <div class="container ">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright" style="color:white">&copy; Pinpoint 2015</span>
                </div>
               
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>